/*#region HRACI POLE */
.dice_page-main {
  grid-area: main;
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  padding: 0%;
}

.dice_page-title {
    position: relative;
    right: 40%;
  font-family: Bungee;
  text-align:start;
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 2em;
  color: #ffda6e;
}

.dice_page-game{
  width: 100%;
  height: 100%;
  background-image: url("/dices/assets/kostkyStul.png");
  background-position: center;
  background-size:100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
/*#endregion*/
/*#region PROMENNE*/


.dice_page-variable{
    /*padding-top: 40px;
    padding-bottom: 40px;*/
    /*position: absolute;
    padding: 40px;*/
    position: absolute;
    font-family: Bungee;
    text-align: center;
    font-size: 1.5em;
    color: #ffda6e;
    text-shadow:
    0 0 6px #E8AC41;
}

@media screen and (max-width: 1300px) {
    .dice_page-variable{
        font-size:0.8em
    }
}

.dice_page-variable{
    position: absolute;
}
.dice_page-variable#var1{
    top:15%;
    left:15%;   
}
.dice_page-variable#var2{
    top:15%;
    left:30%;   
}
.dice_page-variable#var3{
    top:15%;
    left:45%;   
}
.dice_page-variable#var4{
    top:15%;
    left:70%;   
}
/*#endregion */
/*#region KOSTKY */


.dice_page-dice {
    position: absolute;
    cursor:pointer
}

.dice_page-dice img {
    width: 5vw;
}
.dice_page-dice#kostka1{
    top:25%;
    left:17%;    
}

.dice_page-dice#kostka2{
    top:25%;
    left:29%;
}
.dice_page-dice#kostka3{
    top:25%;
    left:41%;
}
.dice_page-dice#kostka4{
    top:25%;
    left:53%;
}
.dice_page-dice#kostka5{
    top:25%;
    left:65%;
}
.dice_page-dice#kostka6{
    top:25%;
    left: 77%;
}
/*#endregion */
/*#region TLACITKA*/

.dice_page-button{
  position: absolute;
  
}
.dice_page-button button{
    background-color: #7600dc;
    color: #ddc05c;
    border: 2px solid #ffff00;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: 0 0 5px #ffff00;
    transition: background-color 0.3s, transform 0.2s;
    font-family: Bungee;
    text-align: center;
    font-size: 1.5em;
    color: #ffda6e;
}
.dice_page-button#roll{
    top:60%;
    left: 20%;
}
.dice_page-button#end{
    top:60%;
    right: 20%;
}

.dice_page-game-help {
    position: absolute;
    right: 7%;
    bottom: 10%;
}
/*#endregion */
/*#region PRAVIDLA TLACITKO*/

.dice_page-game-help button{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    padding: 0%;
}

/*#endregion */

/*#region PRAVIDLA OKNO */
.dice_page-popup-background {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dice_page-popup-window{
    position: relative;
    background-image: url("/dices/assets/kostkyPravidlaStrankaB.png");
    width: 100%;
    height: 120%;
    background-size: 100% 100%;
    font-family: Bungee;
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;
    opacity: 1;
    color: #ffda6e;
    top: 0%;
    left: 15%;
}
.dice_page-popup-window p{
    font-size: large;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}
/*
* {
    border: 2px solid red;
}*/