@font-face {
  font-family: Bungee;
  src: url("fonty/Bungee-Regular.ttf");
}

@font-face {
  font-family: Open-Sans-ExtraBold;
  src: url("fonty/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: Open-Sans-Regular;
  src: url("fonty/OpenSans-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: Open-Sans-Regular;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "aside header"
    "aside main"
    "footer footer";
  grid-template-columns: 12% 88%;
  background-color: #1E0041
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 20px;
  width: 100%;
  height: fit-content;
  padding-top: 20px;
}

.logo {
  padding-top: 10px;
}

.logo h1 {
  font-family: Bungee;
  font-size: 2em;
  color: #ffda6e;
  text-shadow: 0 0 6px #E8AC41, 0 0 6px #da3300;
  margin-left: 20%;
  text-align: center;
  background: #7600DC;
}

header .search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search_bar{
  flex: 5;
  margin-left: 7%;
}

header .search_bar input {
  width: 83%;
  padding: 10px;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 0 6px #00000066;
}

header .header_buttons {
  display: flex;
  gap: 10px;
  flex: 5;
  justify-content: right;
  margin-right: 6%;
}

.header_buttons_box {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.header_buttons_box button {
  width: 35px;
  height: 35px;
  background-color: #5a02a4;
  border: 3px solid #ffda6e;
  border-radius: 50%;
  box-shadow: 0 0 6px #00000066;
  transition: background-color 0.3s ease;
}

.header_buttons_box button:hover {
  background-color: #7b04d6;
  cursor: pointer;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

nav {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

nav li {
  list-style: none;
}

nav li button {
  font-family: Bungee;
  background-color:  #5603AA;
  color: #ffda6e;
  border: none;
  margin: 8px 0;
  padding: 10px;
  font-size: 1em;
  border-radius: 10px;
  box-shadow: 0 0 6px #00000066;
  transition: background-color 0.2s ease;
}

nav li button:hover {
  background-color:  #5603AA;
  cursor: pointer;
}

.active_time {
  font-family: Bungee;
  font-size: 1.3em;
  color: #ffda6e;
  margin-top: auto;
  padding: 20px;
  background-color: #5603AA;;
  border-top: 4px solid #ffda6e;
  box-shadow: inset 0 0 10px #000;
  padding-right: 100%;
}

.navigation{
  margin-top: 80px;
}

.navigation button{
  padding-left: 40%;
  padding-right: 40%;
}

button#profile{
  margin-right: 54%;
}

button{
  padding: 25px 25px;
}

footer {
  grid-area: footer;
  color: black;
  text-align: center;
  padding: 20px;
  font-family: Open-Sans-Regular;
  font-size: 12px;
  color: white;
}